.divLegendAll {
  padding: 30px 15px 15px 15px;
  border: 2px solid #002080;
  border-radius: 25px;
  background-color: rgba(240, 240, 240, 0.3);
}

.divLegend {
  height: 10px;
  border: 2px solid white;
  border-radius: 25px;
  text-align: center;
}

.divLegendSmall {
  width: 230px;
  border-radius: 25px;
  margin: 0 140px 0 140px;
  border: 3px solid black;
  text-align: center;
}

.divMaxLegend {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
