.myNavbar {
  background-color: #2d3246;
}
.immagine{
    margin-right: 15px;
}
.linkNav {
  color: white;
  font-size: 18px;
  list-style: none;
  margin-right: 15px;
}
.linkNav:hover {
  text-decoration: none;
  font-weight: bold;
  color: white;
}
