.leaflet-container {
  height: 500px;
  border-radius: 25px;
  margin-bottom: 75px;
  border: 5px solid #002080;
}
.ulMap {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px ;
}

.linkMap {
  margin-top: 10px;
  padding-right: 35px;
}

.linkMap {
  position: relative;
  text-decoration: none;
  color:  #0033cc;
  font-size: 23px;
  cursor: pointer;
}
.linkMap:after {
  display: block;
  content: "";
  border-bottom: solid 2px  #0033cc;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.linkMap:hover {
  font-weight: bold;
  color:  #0033cc;
}
.linkMap:hover:after {
  transform: scaleX(1);
}

.linkMapSelected{
  font-size: 30px;
  font-weight: bold;
}

.margineSuperiore {
  margin-top: 55px;
}

.chart {
  position: relative;
}
